.todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-title {
    color: pink;
    background: linear-gradient(to right, #ff0000,#ff9000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.todo-container {
  display: flex;
}

.todo-form {
    display: flex;
}

.todo-input{
    width: 70%;
    padding: 10px 12px;
    outline: none;
    border: none;
    background: transparent;
    background-color: rgba(127, 255, 212,0.3);
    border: 1px solid rgba(128, 128, 128,0.3);
}
.todo-input::placeholder {
    color: rgb(126, 126, 126);
}

.todo-btn {
    width: 30%;
    border: none;
    background-color: rgb(0, 132, 255);
    color: white;
    border-radius: 3px;
    cursor: pointer;
    
}

.todo-btn:hover {
    background-color: rgba(0, 132, 255, 0.8);
}

.todo-data {
    width: min(1000px , 90% - 24px);
    margin-top: 30px;
    border: 1px solid #ccc;
    padding: 10px;
}

.todo-image {
    margin-top: 10px;
}

.todo-item {
  display: flex;
}

.todo-btn-delete {
  border: none;
  background: transparent;
  margin-left: auto;
  cursor: pointer;
}

.todo-btn-delete:hover {
  background-color: rgb(167, 167, 167);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
   .logo {
    animation: logo-spin infinite 20s linear;
  }
}